body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin:0;
    padding:0;
    background-color:#fff;
    
}

header{
    background:#333;
    color:#fff;
    padding:10px;
}

header nav a{
    background:#333;
    margin:0 15px;
    text-decoration:none;
}

footer{
    background:#333;
    color:#fff;
    padding:10px 0;
    text-align:center;
    margin-top:10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menu-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
}


.title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
}

.menu-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 200px;
}

.card-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-title {
    font-size: 18px;
    margin: 10px 0;
}

.card-text {
    font-size: 16px;
    color: #333;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 20px 30px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #218838;
}

.order-container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.success-message {
    color: #28a745;
    font-size: 24px;
    margin-bottom: 10px;
}

.thank-you {
    font-size: 18px;
    color: #333;
}

.order-heading {
    margin-top: 20px;
    font-size: 20px;
    color: #007bff;
}

.order-table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

.order-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.key {
    font-weight: bold;
    background-color: #f1f1f1;
    text-align: left;
}

.value {
    text-align: left;
}
